<!-- navbar.component.html -->
<!-- <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/data-binding" routerLinkActive="active">Data Binding</a>
      </li>
      <li>
        <a routerLink="/directive" routerLinkActive="active">Directive</a>
      </li>
      <li>
        <button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/data-binding" routerLinkActive="active" class="nav-link">Data Binding</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/directive" routerLinkActive="active" class="nav-link">Directive</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/address" routerLinkActive="active" class="nav-link">Address</a>
          </li>
         
          <li class="nav-item">
            <a routerLink="/home/lazy" routerLinkActive="active" class="nav-link">Lazy</a>
          </li>
          @if(!isAdmin){
          <li class="nav-item">
            <a routerLink="/home/products" routerLinkActive="active" class="nav-link">Product</a>
          </li>
        }
        @else{
          <li class="nav-item">
            <a routerLink="/home/users" routerLinkActive="active" class="nav-link">Users</a>
          </li>
        }
          <li class="nav-item">
            <a routerLink="/home/lifecycle" routerLinkActive="active" class="nav-link">Lifecycle</a>
          </li>
          <!-- <li 
          <!-- <li class="nav-item">
            <a class="nav-link disabled"
              >Disabled</a
            >
          </li> -->
          <li class="nav-item">
            <button  class="nav-link" routerLinkActive="active" routerLink="/home/cart"><i class="fa-solid fa-cart-shopping"></i>
            {{cartLength>0?cartLength:''}}
            </button>
          </li>
          <li class="nav-item">
            <button (click)="onLogout()" class="nav-link">Logout</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>